* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  columns: #333;
  text-decoration: none;
}
/* 박스 flex 적용 */
.container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: red;
}
/* 박스 공통 값 */
.box {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
}
.box1 {
  background-color: aliceblue;
}
.box2 {
  width: 20px;
  height: 20px;
  background-color: antiquewhite;
}
.box3 {
  width: 40px;
  height: 40px;
  background-color: pink;
}

/* 박스 flex 적용 */
.container1{
    width: 1000px;
    height: 1000px;
    display: flex;
    padding: 30px;
    background-color: antiquewhite;
}
/* 박스 공통 값 */
.container1 .box{
    width: 150px;
    height: 150px;
    border: 1px solid #333;
}
.container1 .box1{
    background-color: aliceblue;
}
.container1 .box2{
    background-color: pink;
}
.container1 .box3{
    background-color: aqua;
}
.container1 .box4{
    background-color: aquamarine;
}
.container1 .box5{
    background-color: plum;
}